.homePage {
    display: flex;
    justify-content: space-between;
    height: 100%;

    .imgContainer {
        flex: 2;
        background-color: #fcf5f3;
        position: relative;
        display: flex;
        align-items: center;

        img {
            width: 115%;
            position: absolute;
            right: 0;

        }
    }

    .textContainer {
        flex: 3;

        .wrapper {
            padding-right: 100px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            gap: 50px;

            .title {
                font-size: 50px;
            }

            .boxes {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .box {
                    h2 {
                        // color: rgb(77, 74, 74);
                        font-weight: 300;
                    }
                }
            }
        }

    }
}